### Upload the screenshot of the first page of the notebook that is saved as 1-notebook.png, as required for Exercise 13. (1pt)

## the markdown cell created with the title

### Data Science Notebook Exercises

### The markdown cell created with an introductory sentence

#### In this project, we will analyze data using different data science techniques

### Below is a list of popular programming languages used in Data Science.

1. Python
2. R
3. SQL
4. Julia
5. Scala

###　Below is a list of popular libraries used in Data Science.

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

###　the markdown cell created with a table of Data Science tools

| Tool Name             | Description             | Type              |           
|----------------|----------------|----------------|
| Jupyter Notebook  | Interactive computing and visualization |IDE|
| Apache Spark    | Big data processing                   |Framework|
| GitHub          | Collaboration and version tracking    |Version Control |
| SQL             | Database management and querying       |Query Language |

### In this section, we will explore basic arithmetic expressions like addition, subtraction, multiplication, and division.

In [34]:
print('1+1 =', 1+1 , '; 2-1 =', 2-1, '; 4/2 =', 4/2, '; 2*2 =', 2*2)

1+1 = 2 ; 2-1 = 1 ; 4/2 = 2.0 ; 2*2 = 4

### the code cell created to multiply and add numbers

In [48]:
a = 2
b = 2
x1 = a+b
x2 = a*b
print('addition:',x1, '\nmultiplication:',x2)

addition: 4
multiplication: 4

### the code cell created to convert minutes to hours

In [55]:
# minutes
m = 120

# convert minutes to hours
h = m / 60

print('convert ', m,'minutes to', h,'hours')

convert  120 minutes to 2.0 hours

### The following are common types of algorithms used in Data Science.

- Supervised Learning Algorithms
- Unsupervised Learning Algorithms
- Reinforcement Learning Algorithms
- Classification Algorithms
- Regression Algorithms
- Clustering Algorithms
- Dimensionality Reduction Algorithms

### The markdown cell created to indicate Author’s name

#### This notebook was created by James